<nav class="sidebar">
    <div class="sidebar-header">
        <a href="/" class="logo-wrapper">
            <img src="../assets/logo.svg" alt="Logo">
            <h2 class="hidden">EduLearn</h2>
        </a>
        <div class="toggle-wrapper">
            <button class="toggle-sidebar-btn" style="margin-left: 8px;">
                <img src="../assets/expand.svg" alt="expand">
            </button>
        </div>
    </div>

    <div class="sidebar-links">
        <a href="/" class="link">
            <img src="../assets/home.svg" alt="home">
            <span class="hidden">Home</span>
        </a>
        <a href="/pages/courses.html" class="link">
            <img src="../assets/courses.svg" alt="courses">
            <span class="hidden">Courses</span>
        </a>
        <a href="/pages/projects.html" class="link">
            <img src="../assets/projects.svg" alt="projects">
            <span class="hidden">Projects</span>
        </a>
        <a href="/pages/materials.html" class="link">
            <img src="../assets/materials.svg" alt="materials">
            <span class="hidden">Study Materials</span>
        </a>
    </div>

    <div class="sidebar-bottom">
        <div class="sidebar-links">
            <a href="/pages/settings.html" class="link">
                <img src="../assets/settings.svg" alt="settings">
                <span class="hidden">Settings</span>
            </a>
           <!-- <button class="theme-toggle link" id="themeToggle">
                <img src="../assets/theme.svg" alt="theme" id="themeIcon">
                <span class="hidden">Toggle Theme</span>
            </button> -->
        </div>

        <div class="user-profile">
            <div class="user-avatar">
                <img src="../assets/profile.jpg" alt="user">
            </div>
            <div class="user-details hidden">
                <p class="username">Jane Doe</p>
                <p class="user-email">jane@example.com</p>
            </div>
        </div>
    </div>
</nav> 